## Mysql (Insert into & select)

In [1]:
import mysql.connector

In [2]:
con = mysql.connector.connect(host="localhost", user="root", passwd="Microsoft@9623")

In [3]:
dbase = con.cursor()

#### Create a DB with doctor and doctor ID & patients visited

In [4]:
dbase.execute("CREATE DATABASE Doctor")

In [5]:
dbase = con.cursor()
dbase.execute("SHOW DATABASES")

for db in dbase:
    print(db)

('doctor',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [6]:
con = mysql.connector.connect(host="localhost", user="root", passwd="Microsoft@9623", database="doctor")

In [7]:
dbase = con.cursor()

dbase.execute("CREATE TABLE Doctor (Dr_Id VARCHAR(255), Patient_Visited VARCHAR(255))")

In [8]:
sql = "INSERT INTO Doctor (Dr_Id, Patient_Visited) VALUES (%s, %s)"
values = [
    ("ID201", "3"),
    ("ID202", "7"),
    ("ID203", "9"),
    ("ID204", "10"),
    ("ID205", "2"),
    ("ID206", "0"),
    ("ID207", "2"),
    ("ID208", "5"),
    ("ID209", "6"),
    ("ID210", "0"),
    ("ID211", "4"),
    ("ID212", "8"),
    ("ID213", "0")
]
dbase.executemany(sql, values)
con.commit()

print(dbase.rowcount, "was inserted.")

13 was inserted.

#### Get the doctor(s) who have more than 5 patients visited

In [9]:
dbase.execute("SELECT * FROM doctor where Patient_Visited > 5")

result = dbase.fetchall()

for data in result:
    print(data)

('ID202', '7')
('ID203', '9')
('ID204', '10')
('ID209', '6')
('ID212', '8')

#### Get the doctors with no patients visit

In [10]:
dbase.execute("SELECT * FROM doctor where Patient_Visited = 0")

output = dbase.fetchall()

for data in output:
    print(data)

('ID206', '0')
('ID210', '0')
('ID213', '0')