### Python MySql

In [1]:
# importing mysql-connector

import mysql.connector

In [2]:
# Create a connection for DB and print the version using a python program.

mydb = mysql.connector.connect(host="localhost",user="root",passwd="Microsoft@9623")

In [3]:
cur = mydb.cursor()
cur.execute("SELECT VERSION()")
data = cur.fetchone()
print("DBMS Version :",str(data))

DBMS Version : ('8.0.25',)

In [4]:
# Create a multiple tables & insert data in table.

db = mydb.cursor()
db.execute("CREATE DATABASE mydatabase")

In [5]:
db.execute("SHOW DATABASES")

for entry in db: 
    print(entry)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [7]:
mydb = mysql.connector.connect(host="localhost",user="root",passwd="Microsoft@9623", database="mydatabase")
db = mydb.cursor()

In [8]:
db.execute("CREATE TABLE Register (Name VARCHAR(255), Gender VARCHAR(255), Prog_Language VARCHAR(255))")

data = "INSERT INTO Register (Name, Gender, Prog_language) VALUES (%s, %s,%s)"
val = ("Ashok", "Male", "Python")
db.execute(data, val)

In [9]:
db.execute("CREATE TABLE Prog_Language (Language VARCHAR(255), year VARCHAR(255))")

data = "INSERT INTO Prog_Language (Language, year) VALUES (%s, %s)"
val = ("Python", "1992")
db.execute(data, val)

In [12]:
db.execute("SHOW TABLES")

for entry in db:
    print(entry)

('prog_language',)
('register',)

In [13]:
# Create a employee table and read all the employee name in the table using for loop.

db.execute("CREATE TABLE Employee (Name VARCHAR(255), Gender VARCHAR(255), Duty_status VARCHAR(255))")

In [14]:
data = "INSERT INTO Employee (Name, Gender, Duty_status) VALUES (%s,%s,%s)"
values = [
  ('Ashok', 'Male', 'On Duty'),
  ('Barbie', 'Female', 'On Duty'),
  ('Hannah', 'Female', 'Off Duty'),
  ('Michael', 'Male', 'On Duty'),
  ('Thomas', 'Male', 'On Duty'), 
  ('Walter', 'Male', 'Off Duty'),
]

db.executemany(data, values)

In [15]:
db.execute("SELECT * FROM Employee")

result = db.fetchall()

for x in result:
    print(x)

('Ashok', 'Male', 'On Duty')
('Barbie', 'Female', 'On Duty')
('Hannah', 'Female', 'Off Duty')
('Michael', 'Male', 'On Duty')
('Thomas', 'Male', 'On Duty')
('Walter', 'Male', 'Off Duty')