## JSON

In [1]:
import json

In [2]:
json_data = [
    {
        "customerid": 1,
        "customer_name": "Arthur Shelby",
        "product_price": 1000,
        "product_received": True, 
    },
    {
        "customerid": 2,
        "customer_name": "Berlin",
        "product_price": 2000,
        "product_received": False, 
    },
    {
        "customerid": 3,
        "customer_name": "Omar Little",
        "product_price": 3000,
        "product_received": True, 
    },
    {
        "customerid": 4,
        "customer_name": "Ellis Carver",
        "product_price": 4000,
        "product_received": False, 
    },
    {
        "customerid": 5,
        "customer_name": "Walter White",
        "product_price": 5000,
        "product_received": True, 
    }
]

In [3]:
x = json.dumps(json_data)

In [4]:
import mysql.connector

In [5]:
con = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Microsoft@9623",
    database="mydatabase"
)
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000019AD4691490>

In [7]:
mycursor = con.cursor()

mycursor.execute("CREATE TABLE customers (CustomerId INT(10), CustomerName VARCHAR(255), ProductPrice INT(10), ProductReceived BIT(1))")

In [8]:
data = json.loads(x)

In [9]:
values = []

In [10]:
for value in data:
    cus_id = value["customerid"]
    cus_name = value["customer_name"]
    pdt_price = value["product_price"]
    pdt_received = value["product_received"]
    values.append((cus_id, cus_name, pdt_price, pdt_received))

In [12]:
sql = "INSERT INTO customers(CustomerId, CustomerName, ProductPrice, ProductReceived) VALUES (%s,%s,%s,%s)"

mycursor.executemany(sql, values)
con.commit()

In [13]:
mycursor.execute("SELECT * FROM customers")
result = mycursor.fetchall()

In [14]:
for data in result:
    print(data)

(1, 'Arthur Shelby', 1000, 1)
(2, 'Berlin', 2000, 0)
(3, 'Omar Little', 3000, 1)
(4, 'Ellis Carver', 4000, 0)
(5, 'Walter White', 5000, 1)

In [16]:
con.close()