### Dictionary

   Dictionary can be defined by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value.

In [6]:
# Example

capitals={"Maharashtra":"Mumbai", "Telangana":"Hyderabad", "Tamilnadu":"Chennai", "Karnataka":"Bengaluru", "Bihar":"Patna"}

In [7]:
print(capitals)

{'Maharashtra': 'Mumbai', 'Telangana': 'Hyderabad', 'Tamilnadu': 'Chennai', 'Karnataka': 'Bengaluru', 'Bihar': 'Patna'}

In [8]:
print(capitals['Tamilnadu'])

Chennai

In [9]:
# Deleting an item

del capitals["Telangana"]

In [10]:
print(capitals)

{'Maharashtra': 'Mumbai', 'Tamilnadu': 'Chennai', 'Karnataka': 'Bengaluru', 'Bihar': 'Patna'}

### Sets

A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

In [11]:
# Example

CSK = {"dhoni", "bravo", "jadeja", "Sam curran"}

In [12]:
print(CSK)

{'bravo', 'jadeja', 'Sam curran', 'dhoni'}

In [14]:
# Adding an element

CSK.add("Raina")
CSK.add("Watson")

In [15]:
print(CSK)

{'Watson', 'bravo', 'Raina', 'jadeja', 'Sam curran', 'dhoni'}

In [16]:
# Removing an element

CSK.remove("Watson")

In [17]:
print(CSK)

{'bravo', 'Raina', 'jadeja', 'Sam curran', 'dhoni'}

### Excercise

In [30]:
# Merge two Python dictionaries

dict1 = {1: 1, 2: 4, 3: 9, 4: 16}
dict2 = {5: 25, 6: 36, 7: 49, 8: 64}

dict1.update(dict2)

In [31]:
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [32]:
# Remove a key from a dictionary

del dict1[8]

print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [33]:
# Map two lists into a dictionary

keys = ['Python', 'Java', 'C']

values = [1991, 1995, 1972]

res = dict(zip(keys, values))

print(res)

{'Python': 1991, 'Java': 1995, 'C': 1972}

In [34]:
# Length of a set

my_set = {'Python', 'Java', 'C', 'Java script', 'Scala'}

print(len(my_set))

5

In [35]:
# Set difference 

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

res = set2.difference(set1)

print(res)

{8, 6, 7}